 body{
    background-color: rgb(139, 22, 134);
 }


 .cabecalho{


display: flex;
 align-items: center;
justify-content: space-between;
 }
.cabecalho-imagem{
width: 200px;
height: 200px;
border-radius: 50%;
padding:20px;



.cabecalho-menu-listaitem{
    display: inline;
    text-transform: uppercase;
    margin: 30px;
}


.sobre{
    display: flex;
    
}